*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h5, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {border:0}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;font-weight:normal;}
caption, th {text-align:left;}
h1, h2, h3, h5, h5, h6 {font-size:100%;}
q:before, q:after {content:'';}
 
/* Global reset-RESET */
/* The below restores some sensible defaults */
strong {font-weight:bold;}
em {font-style:italic;font-weight:bold;}
ol, ul, li {list-style-position:outside;list-style:none;}
* a {position:relative;} /* Gets links displaying over a PNG background */
a {outline:none;} /* Gets rid of Firefox's dotted borders */
a img {border:none;} /* Gets rid of IE's blue borders */

h2 {text-align: center;}

#container {margin:30px auto; width:974px; background:#F5F5ED;}
#logo {float: left; width: 200px; height: 40px;}
#nav ul {float: right; width: 774px; height: 40px;}
#nav ul li {display: inline;}

#send-msg {padding: 0px 10px 0px 10px;}
#send-msg .msg {float: left; width: 774px; height: 30px; font-size: 18px;}
#send-msg .submit {float: right; width: 170px; height: 30px; background-color: white;}

#messages li {display: block; width: 930px; margin: 4px 10px 4px 10px; padding: 4px 10px 4px 10px; background: gray;}

.user {display: block; float: left; width: 100px; height: 16px; background-color: gray; text-align: center; padding: 6px; margin: 6px;}

#footer {text-align: center; width: 954px; padding: 10px; background: #E5E5DD;}

/* Utility Classes */
.clear {clear: both !important;}