<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}HubBub{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}" />
		<meta name="keywords" content="{% block keywords %}hubbub, comet, real-time, demonstration, django, hurricane{% endblock %}" />
		<link href="{{ MEDIA_URL }}css/screen.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js" charset="utf-8"></script>
		<script type="text/javascript">
		    $.ajaxSetup({
		        url: "{{ COMET_URL }}/comet/"
		    });
		</script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/comet.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/hubbub.js" charset="utf-8"></script>
		{% block extra_head %}{% endblock %}
	</head>
	<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
	    <div id="container">
		    <div id="header">
    	        <div id="nav">
    				<h1 id="logo">
    				    <a href="{% url index %}">HubBub</a>
    				</h1>
    	            <ul>
    	                <li><a href="#">My Profile</a></li>
    	            </ul>
    	            <div class="clear"></div>
    	        </div>
    		</div>
            {% if messages %}
                <ul id="system-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div id="main">
                {% block content %}
                {% endblock %}
            </div>
    		<div id="footer">
    		    {% block footer %}
    		        <p>Copyright © 2009 HubBub Hurricane Demo. All rights reserved.</p> 
    		    {% endblock %}
    		</div>
    	</div>
	    {% block extra_body %}{% endblock %}
	</body>
</html>
