{% extends "base.html" %}

{% block body_id %}index{% endblock %}
{% block body_class %}wide{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form id="send-msg" method="POST" action="/comet/">
            <input class="msg" type="text" />
            <input class="submit" type="submit" value="Post Message" />
            <div class="clear"></div>
        </form>
    {% else %}
        <p>You can&rsquo;t post messages until you <a href="#">register</a> for an account.</p>
    {% endif %}
    <ul id="messages">
        <h2>Newest Messages</h2>
        {% for message in newest_messages|slice:":50" %}
            <li>
                <div class="user">
                    <a href="#">{{ message.user.username }}</a>
                </div>
                <span>{{ message.data.msg }}</span>
                <div class="clear"></div>
            </li>
        {% empty %}
            <li>Unfortunately there are no new messages</li>
        {% endfor %}
    </ul>
    <div class="users">
        <h2>Newest Users</h2>
        {% for new_user in newest_users|slice:":40" %}
            <div class="user">
                <a href="#">{{ new_user.username }}</a>
            </div>
        {% empty %}
            <li>Unfortunately there are no new users</li>
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endblock %}