{% extends "base.html" %}
 
{% block title %}Find and Add Friends - {{ block.super }}{% endblock %}
 
{% block content %}
    <form class="standard" method="GET">
        <ul>
            <li><label for="id_q">Search for your friend&rsquo;s name or e-mail address: </label>
                {{ search_form.q }}</li>
        </ul>
        <input type="submit" value="User Search">
    </form>
    {% if q %}
        <h1>Results</h1>
        <div class="user-list">
            {% for person,friend in users %}
                <div class="user{% if forloop.counter %% 8 %} last{% endif %}">
                    <a href="{{ person.get_profile.get_absolute_url }}" class="thumb">
                        <img src="{{ person.get_profile.image_url }}" width="40px" height="40px" />
                    </a>
                    <a href="{{ person.get_profile.get_absolute_url }}">{{ person.username }}</a>
                    {% ifnotequal person user %}
                        <form method="POST" class="follow" action="{% if friend %}{% url sg_unfollow person.username %}{% else %}{% url sg_follow person.username %}{% endif %}">
                            <input type="submit" value="{% if friend %}Unfollow{% else %}Follow{% endif %}" />
                        </form>
                    {% endifnotequal %}
                </div>
            {% empty %}
                <p class="info">No results for the given query</p>
            {% endfor %}
            <div class="clear"></div>
        </div>
    {% endif %}
{% endblock %}